*{
    font-family: "Share Tech Mono", monospace;
}

html{
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #111;
    overflow: hidden;
}

#board, .boardInfo{
    max-width: 400px;
}

#board{
    
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
    
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: absolute;

    border-radius: 10px;
}

.boardInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-direction: column;
    width: 400px;
}

#start{
    
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
   
}

#scoreBoard, .boardInfo{
    color:aqua;
}


#scoreBoard{
    display: inline-flex;
}

.square{
    aspect-ratio: 1;
    
}

.emptySquare{
    background-color: rgb(0, 0, 0);
}

.foodSquare{
    background-color: rgb(204, 0, 0);
}

.snakeSquare{
    background-color: rgb(0, 204, 0);
}

.trapSquare{
    background-color: rgb(204,0,0);
}
