*{
    font-family: "Share Tech Mono", monospace;
}
#board, .boardInfo{
    max-width: 500px;
}

#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
}

.boardInfo{
    display: flex;

    justify-content: space-between;
    margin-top: 10px;
}

#start{
    
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
   
}



#scoreBoard{
    display: inline-flex;
}

.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: rgb(0, 0, 0);
}

.foodSquare{
    background-color: rgb(204, 0, 0);
}

.snakeSquare{
    background-color: rgb(0, 204, 0);
}
